.panda {
  height: 386px;
  background: url('../../assets/images/Giant\ Panda.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.pick-n-feed {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  height: 1482px;
  padding-top: 40px;
}

.pick-n-feed__h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  /* identical to box height, or 47px */
  color: #FFFFFF;
  margin: 0;
}

.pick-n-feed__h4 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: #FFFFFF;
  margin-top: 10px;
}

.pick-n-feed__h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  /* identical to box height, or 47px */
  /* or3 */
  color: #FE9013;
  margin-top: 46px;
  margin-bottom: 60px;
}

.pick-n-feed__donate {
  height: 964px;
  background: rgba(255, 255, 255, 0.52);
  backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 20px;
  padding: 40px 92px 62px;
}

.donate__h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  /* identical to box height, or 58px */
  text-align: center;
  /* or3 */
  color: #FE9013;
  margin: 0;
  padding-right: 14px;
}

.donate__h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  /* identical to box height, or 29px */
  color: #333B41;
  margin-bottom: 55px;
  margin-top: 20px;
}
.donate__diet {
  display: flex;
  margin: 0 auto;
  width: 546px;
  align-items: center;
  justify-content: space-between;
  padding-right: 14px;
}
.diet {
  position: relative;
  top: 32px;
}
.diet__h2 {
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 80%;
  /* identical to box height, or 58px */
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
}
.diet__h4 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  color: #333B41;
  margin-top: 11px;
  margin-bottom: 0px;
}
.diet__cross {
  position: relative;
  top: 18px;
  right: 26px;
}

.amount__h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: #000000;
  margin-top: 52px;
  padding-left: 4px;
}

.range-line {
  width: 976px;
  height: 27px;
  background: #404950;
  border-radius: 2px;
}

.small-line {
  width: 915px;
  height: 2px;
  background: #72828E;
  margin: 0 auto;
  position: relative;
  top: 14px;
}

.another-amount::-webkit-outer-spin-button,
.another-amount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.another-amount {
  -moz-appearance: textfield;
}
.another-amount {
  width: 268px;
  height: 54px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: #929699;
  border: 1px solid #929699;
  outline: none;
  border-radius: 2px;
  padding-left: 9px;
  background: url(../../assets/icons/dollar.svg);
  background-repeat: no-repeat;
  background-position: center right+10px;
  margin: 0 auto;
  display: block;
}
.another-amount:focus {
  border: 1px solid #4B9200;
  color: #4B9200;
  background: url(../../assets/icons/dollar-green.svg);
  background-repeat: no-repeat;
  background-position: center right+10px;
}
.method {
  display: flex;
  justify-content: space-between;
  width: 197px;
  margin: 0 auto;
  margin-top: 25px;
  position: relative;
  right: 8px;
  margin-bottom: 32px;
  
}
.method__label {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: #333B41;
}
.circles {
  display: flex;
  justify-content: space-between;
  width: 921px;
  height: 10px;
  position: relative;
  margin: 0 auto;
  top: 7px;
}
.cirlce {
  width: 10px;
  height: 10px;
  background: #FFEE2E;;
  border-radius: 100%;
}

.range__dots {
  width: 953px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
  bottom: 24px;
  left: 6px;
}
.range__dots label {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 140%;
  /* or 36px */
  text-transform: uppercase;
  color: #333B41;
}
.range__dots span {
  font-size: 22px;
}

input[class="method__radio"]:checked, 
input[class="method__radio"]:not(:checked),
input[class="range__radio"]:checked, 
input[class="range__radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
input[class="method__radio"]:checked + label, 
input[class="method__radio"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 26px;
  line-height: 20px;
  cursor: pointer;
}
input[class="range__radio"]:checked + label, 
input[class="range__radio"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    top: 44px;
    right: 20px;
    /*padding-left: 28px;*/
    line-height: 20px;
    cursor: pointer;
}

input[class="method__radio"]:checked + label:before, 
input[class="method__radio"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 16px;
    height: 16px;
    border: 1px solid #FE9013;
    border-radius: 100%;
}

input[class="range__radio"]:checked + label:before, 
input[class="range__radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 20px;
  top: -44px;
  width: 23px;
  height: 23px;
  border: 2px solid #FE9013;
  border-radius: 100%;
}

input[class="method__radio"]:checked + label:after, 
input[class="method__radio"]:not(:checked) + label:after,
input[class="range__radio"]:checked + label:after, 
input[class="range__radio"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

input[class="method__radio"]:checked + label:after, 
input[class="method__radio"]:not(:checked) + label:after {
  left: 0px;
  top: 0px;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #4B9200;
  border: 1px solid #4B9200;
}
input[class="range__radio"]:checked + label:after, 
input[class="range__radio"]:not(:checked) + label:after {
  left: 12px;
  top: -52px;
  width: 40px;
  height: 40px;
  border: 2px solid #FE9013;
  border-radius: 100%;
}
input[class="method__radio"]:not(:checked) + label:after,
input[class="range__radio"]:not(:checked) + label:after,
input[class="range__radio"]:not(:checked) + label:before {
  opacity: 0;
}
input[class="method__radio"]:checked + label:after,
input[class="range__radio"]:checked + label:after,
input[class="range__radio"]:checked + label:before {
  opacity: 1;
}
input[class="range__radio"]:checked + label {
  color: #FE9013;
}


label[for="2000"] {
  left: -30px;
}
input[id="5000"]:checked + label::before {
  left: 24px;
}
input[id="5000"]:checked + label:after {
  left: 16px;
}
input[id="2000"]:checked + label:before {
  left: 24px;
}
input[id="2000"]:checked + label:after {
  left: 15px;
}

label[for="1000"] {
  left: -40px;
}
input[id="1000"]:checked + label:before {
  left: 23px;
}
input[id="1000"]:checked + label:after {
  left: 15px;
}

label[for="500"] {
  left: -50px;
}
input[id="500"]:checked + label:before {
  left: 22px;
}
input[id="500"]:checked + label:after {
  left: 14px;
}

label[for="250"] {
  left: -47px;
}
input[id="250"]:checked + label:before {
  left: 24px;
}
input[id="250"]:checked + label:after {
  left: 16px;
}

label[for="100"] {
  left: -43px;
}
input[id="100"]:checked + label:before {
  left: 24px;
}
input[id="100"]:checked + label:after {
  left: 16px;
}

label[for="50"] {
  left: -38px;
}
input[id="50"]:checked + label:before {
  left: 23px;
}
input[id="50"]:checked + label:after {
  left: 15px;
}
input[id="25"]:checked + label:before {
  left: 24px;
}
input[id="25"]:checked + label:after {
  left: 16px;
}
.space {
  width: 100px;
  height: 77px;
}

.donate__button {
  width: 298px;
  height: 54px;
  background-color: #F9804B;
  border-radius: 25px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  transition: 0.5s;
}
.donate__button:hover {
  transform: scale(1.1);
  background-color: #E47209;
}

.donate__button:active {
  transform: scale(1.1);
  background-color: #4B9200;
}
.share__h3 {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */
  color: #333B41;
  text-align: center;
  margin-top: 30px;
}
